@import 'util/util';

// If false, will silent all deprecation warning for Compass mixins
// in 'utils/deprecations'
$emencia-compass-deprecation-warning: false;

$font-family-opensans: 'Open Sans', sans-serif;

// Consistant colors names facility
$white: #ffffff;
$black: #000000;


///
/// FOUNDATION6 SETTINGS
///


// 1. Global
// ---------

$body-font-family: $font-family-opensans;
$global-font-size: 16px;
$global-weight-normal: 400;
$global-weight-bold: 800;


// 2. Breakpoints
// --------------

$breakpoint-classes: (small medium large xlarge xxlarge);

// Legacy media queries
$small-up: screen;
$medium-up: unquote('screen and #{breakpoint(medium)}');
$large-up: unquote('screen and #{breakpoint(large)}');
$xlarge-up: unquote('screen and #{breakpoint(xlarge)}');
$xxlarge-up: unquote('screen and #{breakpoint(xxlarge)}');


// 37. Top Bar
// -----------

$topbar-unstack-breakpoint: large;



///
/// Sveetoy parts
///

// A1. Sveetoys Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Common available breakpoints taken from Foundation breakpoints
$sveetoy-breakpoints: (
    small: $small-up,
    medium: $medium-up,
    large: $large-up,
    xlarge: $xlarge-up,
);


// A2. Sveetoys colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

$white-color-scheme: (
    background-color: $white,
);
$black-color-scheme: (
    background-color: $black,
);

$sveetoy-colors-scheme-default: $white-color-scheme;

$sveetoy-colors-schemes: (
    white: $white-color-scheme,
    black: $black-color-scheme,
);

$sveetoy-color-text-palette: (
    white: $white,
    black: $black,
);


// A3. Sveetoys typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Thickness
$font-weight-thin: 300;
$font-weight-normal: $global-weight-normal;
$font-weight-bold: $global-weight-bold;
$font-weight-strong: 900;
