@import 'util/util';

// If false, will silent all deprecation warning for Compass mixins
// in 'utils/deprecations'
$emencia-compass-deprecation-warning: false;

$font-family-opensans: 'Open Sans', sans-serif;

// Consistant colors names facility
$white: #ffffff;
$black: #000000;


///
/// FOUNDATION6 SETTINGS
///


// 1. Global
// ---------

$body-font-family: $font-family-opensans;
$global-font-size: 16px;

// Font weight
$font-weight-normal: 400;
$font-weight-bold: 700;

// F6 support
$global-weight-normal: $font-weight-normal;
$global-weight-bold: $font-weight-bold;


// 2. Breakpoints
// --------------

$breakpoint-classes: (small medium large xlarge xxlarge);

// Legacy media queries
$small-up: screen;
$medium-up: unquote('screen and #{breakpoint(medium)}');
$large-up: unquote('screen and #{breakpoint(large)}');
$xlarge-up: unquote('screen and #{breakpoint(xlarge)}');
$xxlarge-up: unquote('screen and #{breakpoint(xxlarge)}');


// 37. Top Bar
// -----------

$topbar-unstack-breakpoint: large;
