@import "foundation/functions";

// 
// FOUNDATION SETTINGS
// See utils/_sample_settings.scss for a full list of available settings
//

//
// Settings overrides goes below
//

// If false, will silent all deprecation warning for Compass mixins 
// in 'utils/deprecations'
$emencia-compass-deprecation-warning: false;

// Control wether a link to google open-sans font is included or not, default 
// is true. Change value to 'false' if you dont use Open Sans in profit of 
// other another font, to avoid loading OpenSans for nothing
$include-open-sans: true;

// Consistant colors names facility
$white: #ffffff;
$black: #000000;

// Enable xlarge and xxlarge columns class names into the grid
$include-xl-html-grid-classes: false;

// Larger row width for xlarge screens and more
$row-larger-width: rem-calc(1328px);
