<div class="slick-container">
    {% if slideshow_slide.image or slideshow_slide.content %}
    <div class="item"{% if slideshow_slide.url %} data-slide-url="{{ slideshow_slide.url }}"{% endif %}>
        {% if slideshow_slide.content %}
            {% if slideshow_slide.image %}
                <img src="{{ slideshow_slide.image.url }}" class="background" alt=""
                data-imgbg-position="50% 50%"
                data-imgbg-repeat="no-repeat"
                data-imgbg-size="cover">
            {% endif %}
            <div class="caption">
                {% comment %}<h2>{{ slideshow_slide.title }}</h2>{% endcomment %}
                {{ slideshow_slide.content|safe }}
            </div>
        {% else %}
            <img src="{{ slideshow_slide.image.url }}" alt="">
        {% endif %}
    </div>
    {% endif %}
</div>
