/*
 * Various stuff that don't fit elsewhere
 */

/*
 * Some styling for this JS component stuff (read more on 'js/jquery/addons.js')
 */
#watch-for-current-mquery{
    padding: 0.0rem 0.5rem;
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 14px;
    font-weight:bold;
    line-height:1.4;
    text-align: center;
    text-transform: uppercase;
    border: 2px solid $alert-color;
    background-color: $white;
    z-index: 9000;
    
    small{
        display: block;
    }
}


// Shortcut relative position
.relative-position {
    position: relative;
}

// Remove all margins
.unmarged {
    margin: 0 !important;
}

// Sometime we need to separate an element from an another adjacent element
.divider:not(li) {
    margin-bottom: 2rem;
    
    &.tiny-divide{
        margin-bottom: 1rem;
    }
    
    &.big-divide{
        margin-bottom: 3rem;
    }
}

/*
 * Vertical spaces around element
 */
.space-around{
    padding: .7rem 0;
    
    @media #{$medium-up} {
        padding: 1.2rem 0;
    }
    @media #{$large-up} {
        padding: 1.5rem 0;
    }
    @media #{$xlarge-up} {
        padding: 2rem 0;
    }
    
    // Tiny spaces
    &.tiny-space{
        padding: 0.75rem 0;
        
        @media #{$medium-up} {
            padding: 1rem 0;
        }
    }
    
    // Medium spaces
    &.medium-space{
        padding: 1rem 0;
        
        @media #{$medium-up} {
            padding: 1.5rem 0;
        }
    }
    
    // Wider spaces
    &.wide-space{
        padding: 1.5rem 0;
        
        @media #{$medium-up} {
            padding: 2.5rem 0;
        }
        @media #{$large-up} {
            padding: 4rem 0;
        }
    }
    
    // For only top or bottom space
    &.top-only{
        padding-bottom: 0;
    }
    &.bottom-only{
        padding-top: 0;
    }
}

/*
 * Attempt to use columns-* properties
 */
.strip-container{
    @include columns(auto 2);
    
    .strip-cell{
        @include break-inside(avoid);
    }
}