/*
 * Typography and alike
 */

// Dont use the same font weight for b/strong
b{
    font-weight: 600;
}
strong{
    font-weight: 700;
}

// No trailing margin on last paragraph in their container
p {
    &:last-child{
        margin-bottom: 0;
    }
}

// Transform and decoration
.text-upper{
    text-transform: uppercase !important;
}
.text-important{
    text-decoration: underline !important;
}
// Various font weight
.text-thin{
    font-weight: 300 !important;
}
.text-normal{
    font-weight: 400 !important;
}
.text-strong{
    font-weight: 600 !important;
}
.text-stronger{
    font-weight: 800 !important;
}

// Various text colors
.text-black{
    color: $black !important;
}
.text-white{
    color: $white !important;
}

// Various <small> modifier
small{
    .small{
        font-size: 40%;
    }
    .medium{
        font-size: 60%; //equivalent to default <small> behavior
    }
    .big{
        font-size: 80%;
    }
}

/* Rewrite titles adding paragraph classes so we can have the same behaviors
 * without troubling SEO/semantic
 */
h1, h2, h3, h4, h5, h6,
.title-1, .title-2, .title-3, .title-4, .title-5, .title-6 {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-style: $header-font-style;
    color: $header-font-color;
    text-rendering: $header-text-rendering;
    margin-top: $header-top-margin;
    margin-bottom: $header-bottom-margin;
    line-height: $header-line-height;
}

// From small size to upper
//p, li, dd, dt{ font-size: $paragraph-font-size; }
h1, .title-1 { font-size: $h1-font-size - $h1-font-reduction; }
h2, .title-2 { font-size: $h2-font-size - $h2-font-reduction; }
h3, .title-3 { font-size: $h3-font-size - $h3-font-reduction; }
h4, .title-4 { font-size: $h4-font-size - $h4-font-reduction; }
h5, .title-5 { font-size: $h5-font-size - $h5-font-reduction; }
h6, .title-6 { font-size: $h6-font-size - $h6-font-reduction; }

// Additional transition if needed
/*@media #{$medium-up} {
    //p, li, dd, dt{
    //    font-size: $paragraph-font-size;
    //}
    h1, .title-1 { font-size: $h1-font-size - ($h1-font-reduction*0.75); }
    h2, .title-2 { font-size: $h2-font-size - ($h2-font-reduction*0.75); }
    h3, .title-3 { font-size: $h3-font-size - ($h3-font-reduction*0.75); }
    h4, .title-4 { font-size: $h4-font-size - ($h4-font-reduction*0.75); }
    h5, .title-5 { font-size: $h5-font-size - ($h5-font-reduction*0.75); }
    h6, .title-6 { font-size: $h6-font-size - ($h6-font-reduction*0.75); }
}*/

// Final size for large screen and up
@media #{$xlarge-up} {
    h1, .title-1 { font-size: $h1-font-size; }
    h2, .title-2 { font-size: $h2-font-size; }
    h3, .title-3 { font-size: $h3-font-size; }
    h4, .title-4 { font-size: $h4-font-size; }
    h5, .title-5 { font-size: $h5-font-size; }
    h6, .title-6 { font-size: $h6-font-size; }
}

// Underlined element
.underline{
    // Base
    &:after{
        content:"";
        display: block;
        width: 50%;
        height: rem-calc(3px);
        margin: 1rem 0;
        border-bottom: rem-calc(3px) solid $black;
    }

    // On centered text
    &.text-center{
        &:after{
            margin-left: auto;
            margin-right: auto;
        }
    }

    // Border weight
    &.thin{
        &:after{
            height: rem-calc(1px);
            border-bottom: rem-calc(1px) solid $black;
        }
    }
    &.bold{
        &:after{
            height: rem-calc(5px);
            border-bottom: rem-calc(5px) solid $black;
        }
    }

    // Border width size
    &.tiny{
        &:after{
            width: 5%;
        }
    }
    &.short{
        &:after{
            width: 15%;
        }
    }
    &.normal{
        &:after{
            width: 40%;
        }
    }
    &.large{
        &:after{
            width: 70%;
        }
    }
    &.full{
        &:after{
            width: 100%;
        }
    }

    // Border distance from text
    &.far{
        &:after{
            margin: 2rem 0;
        }
        &.text-center{
            &:after{
                margin: 2rem auto;
            }
        }
    }
    &.near{
        &:after{
            margin: 0.5rem 0;
        }
        &.text-center{
            &:after{
                margin: 0.5rem auto;
            }
        }
    }
    &.sticked{
        &:after{
            margin: 0 0;
        }
        &.text-center{
            &:after{
                margin: 0 auto;
            }
        }
    }
}
