/* 
 * Country flags sprites
 * 
 * Caveat: This will recompile this component for every enabled language locale, the 
 * more you have, the more it will recompile
 * 
 * If you add new flag image(s), remember than in a sprite they must have an identical 
 * size
 * 
 * If you don't need flags, rename this file to '_flags.css' or simply remove it to 
 * avoid to be compiled
 */
/* @import $flagicons; */
/*@include all-flags-24-sprites;
.flags-24-sprite:before{
    content: "";
    position: absolute;
    left: 8px;
    display: block;
    width: flags-24-sprite-width(de);
    height: flags-24-sprite-height(de);
    text-indent: -10000px;
}*/
/* line 34, ../../../compass/scss/flags.scss */
.flags-sprite-base, .sprite-en:before, .sprite-fr:before {
  content: "";
  position: absolute;
  left: 8px;
  display: block;
  height: 16px;
  width: 22px;
}

/* line 53, ../../../compass/scss/flags.scss */
.sprite-en:before {
  background: url('../images/flags/flags-24-sc45ed53dac.png') 0 -16px no-repeat;
}

/* line 53, ../../../compass/scss/flags.scss */
.sprite-fr:before {
  background: url('../images/flags/flags-24-sc45ed53dac.png') 0 -192px no-repeat;
}
