<div id="slideshow-container-{{ slideshow_instance.id }}" class="slick-container">
{% for slide in slideshow_slides %}
    {% if slide.image or slide.content %}
    <div class="item"{% if slide.url %} data-slide-url="{{ slide.url }}"{% endif %}>
        {% if slide.content %}
            {% if slide.image %}
                <img src="{{ slide.image.url }}" class="background" alt=""
                data-imgbg-position="50% 50%"
                data-imgbg-repeat="no-repeat"
                data-imgbg-size="cover">
            {% endif %}
            <div class="caption">
                {% comment %}<h2>{{ slide.title }}</h2>{% endcomment %}
                {{ slide.content|safe }}
            </div>
        {% else %}
            <img src="{{ slide.image.url }}" alt="">
        {% endif %}
    </div>
    {% endif %}
    
{% endfor %}
</div>
{% comment %}{% if slideshow_js_config %}{{ slideshow_js_config }}{% endif %}{% endcomment %}